<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <style>
        /* 글자 수 표시 */
        #charCount {
            font-size: 0.9em; /* 글자 크기 조정 */
            color: gray; /* 회색 텍스트 */
            margin: 0;
            align-items: flex-end; /* 오른쪽으로 정렬 */
        }

    </style>
</head>

<div th:replace="/fragments/header.html :: fragment-header"></div>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<link rel="stylesheet" href="/css/boardDetail.css">

<!-- 세부 메뉴 + 메인 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">

    <div class="sub--menu">
        <div class="sub--menu--top">
            <h2>로그인</h2>
        </div>
        <!-- 메뉴 -->
        <div class="sub--menu--mid">
            <table class="sub--menu--table" border="1">
                <tr>
                    <td><a th:href="@{/board/openBoardList.do}">총 게시판</a></td>
                </tr>
            </table>
        </div>
    </div>

    <main>
        <h1>게시판 상세 내용</h1>
        <div class="split--div"></div>

        <form id="frm" method="post">
            <table class="board_detail">
                <colgroup>
                    <col width="15%"/>
                    <col width="35%"/>
                    <col width="15%"/>
                    <col width="35%"/>
                </colgroup>
                <caption>게시글 상세내용</caption>

                <tbody>
                <tr>
                    <th scope="row">글 번호</th>
                    <td th:text="${board.boardIdx}"></td>
                    <th scope="row">조회수</th>
                    <td th:text="${board.hitCnt}"></td>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td th:text="${board.creatorId}"></td>
                    <th scope="row">작성일</th>
                    <td th:text="${board.createdDatetime}"></td>
                </tr>
                <tr th:if="${uname == board.creatorId}">
                    <th scope="row">제목</th>
                    <td colspan="3">
                        <input type="text" id="titleT" name="title" th:value="${board.title}" class="form-control"/>
                    </td>
                </tr>
                <tr th:if="${uname == board.creatorId}">
                    <td colspan="4" class="view_text">
                        <textarea title="내용" id="contentsT" name="contents" class="form-control" rows="6"
                                  th:text="${board.contents}" maxlength="80"></textarea>
                    </td>
                    <td><div id="contentCount">0/80</div></td>
                </tr>
                <tr th:unless="${uname == board.creatorId}">
                    <th scope="row">제목</th>
                    <td colspan="3">
                        <input type="text" id="title" name="title" th:value="${board.title}" readonly
                               class="form-control"/>
                    </td>
                </tr>
                <tr th:unless="${uname == board.creatorId}">
                    <td colspan="4" class="view_text">
                        <textarea title="내용" id="contents" name="contents" class="form-control" rows="6"
                                  th:text="${board.contents}" readonly></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
        </form>

        <!-- 첨부파일 리스트 -->
        <div class="file-list">
            <h4>첨부파일</h4>
            <div th:each="list : ${board.fileList}" class="file-item">
                <p>
                    <a th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}"
                       th:text="|${list.originalFileName} (${list.fileSize} kb) 다운로드|"></a>
                </p>
            </div>
        </div>

        <!-- 이미지 파일 -->
        <div class="image-list">
            <h4>첨부된 이미지</h4>
            <div th:each="list : ${board.fileList}"
                 th:if="${list.storedFilePath.endsWith('.jpg') or list.storedFilePath.endsWith('.png') or list.storedFilePath.endsWith('.gif')}"
                 class="image-item">
                <img th:src="${list.storedFilePath}" alt="게시글 이미지" class="post-image"/>
            </div>
        </div>

        <!-- 댓글 작성 폼 -->
        <div class="comment-section">
            <h3>댓글</h3>
            <div class="comment-form">
                <form th:action="@{/comment/{id}(id=${board.boardIdx})}" method="post">
                    <textarea name="content" id="commentInput" rows="4" maxlength="80" placeholder="댓글을 작성하세요."
                              required></textarea>
                    <div id="charCount">0/80</div>
                    <button type="submit">댓글 작성</button>
                </form>
            </div>

            <div class="comment-list">
                <div th:if="${!#lists.isEmpty(comments)}">
                    <div th:each="comment : ${comments}" class="comment">
                        <div class="comment-header">
                            <span class="nick" th:text="${comment.nick}"></span>
                            <span class="created-time" th:text="${comment.createdTime}"></span>
                        </div>
                        <div class="comment-content" th:utext="${comment.content}"></div>
                        <div class="comment-actions"
                             th:if="${session.authInfo.nick.equals(comment.nick)} or ${session.authInfo.role.equals('ADMIN')}">
                            <a th:href="@{/comment/delete/{id}/{bid}(id=${comment.id},bid=${board.boardIdx})}">삭제</a>
                        </div>
                    </div>
                </div>
                <div th:unless="${!#lists.isEmpty(comments)}" class="no-comments">
                    <p>현재 작성된 댓글이 없습니다! 에티켓을 지키며 댓글을 달아주세요.</p>
                </div>
            </div>
        </div>

        <div th:if="${uname == board.creatorId}">
            <a href="#this" id="listA" class="btn btn-secondary">목록으로</a>
            <a href="#this" id="edit" class="btn btn-primary">수정하기</a>
            <a href="#this" id="deleteA" class="btn btn-danger">삭제하기</a>
        </div>
        <!-- 관리자가 아닌 경우 -->
        <div th:if="${uname != board.creatorId} and ${!session.authInfo.role.equals('ADMIN')}">
            <a href="#this" id="listF" class="btn btn-secondary">목록으로</a>
        </div>
        <!-- 관리자인 경우 -->
        <div th:if="${uname != board.creatorId} and ${session.authInfo.role.equals('ADMIN')}">
            <a href="#this" id="listT" class="btn btn-secondary">목록으로</a>
            <a href="#this" id="delete" class="btn btn-danger">삭제하기</a>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#listT").on("click", function () {
                    location.href = "/board/openBoardList.do";
                });

                $("#listF").on("click", function () {
                    location.href = "/board/openBoardList.do";
                });

                $("#listA").on("click", function () {
                    location.href = "/board/openBoardList.do";
                });

                $("#edit").on("click", function () {//이후에 수정하기는 따로 수정 페이지를 만들어서 수정하기로 수정.
                    var frm = $("#frm")[0];
                    frm.action = "/board/updateBoard.do";
                    frm.submit();
                });

                $("#delete").on("click", function () {
                    var frm = $("#frm")[0];
                    frm.action = "/board/deleteBoard.do";
                    frm.submit();
                });

                $("#deleteA").on("click", function () {
                    var frm = $("#frm")[0];
                    frm.action = "/board/deleteBoard.do";
                    frm.submit();
                });
            });
        </script>
        <script>
            const textarea = document.getElementById('commentInput');
            const charCount = document.getElementById('charCount');

            textarea.addEventListener('input', () => {
                charCount.textContent = `${textarea.value.length}/80`;
            });

            const textarea1 = document.getElementById('contentsT');
            const charCount1 = document.getElementById('contentCount');

            textarea1.addEventListener('input', () => {
                charCount1.textContent = `${textarea1.value.length}/80`;
            });
        </script>
    </main>
</div>
<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>