<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header.html :: fragment-header"></div>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>장바구니</title>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<link rel="stylesheet" href="/css/order.css">

<!-- 세부 메뉴 + 메인 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">
    <!-- 세부 메뉴 div-->
    <div class="sub--menu">
        <div class="sub--menu--top">
            <h2>MY</h2>
        </div>
        <!-- 메뉴 -->
        <!-- 선택된 메뉴에 class="selected--menu" 추가해주세요 -->
        <div class="sub--menu--mid">
            <table class="sub--menu--table" border="1">
                <tr>
                    <td><a href="/orders" class="selected--menu">내 상품 조회</a></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- 메인 div -->
    <main>
        <h1>상품 관리</h1>
        <div class="split--div"></div>

        <!-- 상품이 있을 때 -->
        <div th:if="${orders != null && !orders.isEmpty()}">
            <h2>등록된 상품</h2>
            <table class="input--table">
                <colgroup>
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                </colgroup>
                <thead>
                <tr>
                    <th>상품 번호</th>
                    <th>상품 이름</th>
                    <th>상품 개수</th>
                    <th>상품 가격</th>
                    <th>검토 상태</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody
                        th:each="product : ${orders}">
                <tr>
                    <td th:text="${product.id}">상품 번호</td>
                    <td th:text="${product.name}">상품 이름</td>
                    <td th:text="${product.quantity}">상품 개수</td>
                    <td th:text="${product.price}">상품 가격</td>
                    <td th:text="${product.status}">검토 상태</td>
                    <td>
                        <a class="btn" th:href="@{/orders/delete/{id}(id=${product.id})}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="no-products">삭제를 누를 시, 확인절차 없이 바로 삭제됩니다.</p>

        <!-- 상품이 없을 때 -->
        <div th:if="${orders == null || orders.isEmpty()}">
            <p class="no-products">장바구니에 담긴 상품이 없습니다. <br> 거래소를 사용해보세요! </p>
        </div>
    </main>
</div>
<footer>
    <!-- 필요 시 -->
</footer>
</body>
</html>
