<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${#messages.msg('change.pwd.title')}"></title>
</head>
<body>
<form th:action="@{/edit/changePassword}" th:object="${command}" method="post">
	<div th:if="${#fields.hasErrors('*')}">
		<p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>
	</div>
	<p>
		<label>
			<span th:text="${#messages.msg('currentPassword')}">Current Password:</span><br>
			<input type="password" th:field="*{currentPassword}" />
			<div th:if="${#fields.hasErrors('currentPassword')}" th:each="error : ${#fields.errors('currentPassword')}" th:text="${error}"></div>
		</label>
	</p>
	<p>
		<label>
			<span th:text="${#messages.msg('newPassword')}">New Password:</span><br>
			<input type="password" th:field="*{newPassword}" />
			<div th:if="${#fields.hasErrors('newPassword')}" th:each="error : ${#fields.errors('newPassword')}" th:text="${error}"></div>
		</label>
	</p>
	<input type="submit" th:value="${#messages.msg('change.btn')}" />
</form>
</body>
</html>
