<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header.html :: fragment-header"></div>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<link rel="stylesheet" href="/static/css/myInfo.css">

<!-- 세부 메뉴 + 메인 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">
    <!-- 세부 메뉴 div-->
    <div class="sub--menu">
        <div class="sub--menu--top">
            <h2>MY</h2>
        </div>
        <!-- 메뉴 -->
        <!-- 선택된 메뉴에 class="selected--menu" 추가해주세요 -->
        <div class="sub--menu--mid">
            <table class="sub--menu--table" border="1">
                <tr>
                    <td><a href="/myinfo" class="selected--menu">내 정보 조회</a></td>
                </tr>
                <tr>
                    <td><a href="/edit/changePassword">비밀번호 변경</a></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- 메인 div -->
    <main>
        <h1>내 정보 조회</h1>
        <div class="split--div"></div>
        <table border="1" class="input--table">
            <colgroup>
                <col class="col1">
                <col class="col2">
                <!--        <col class="col3">-->
                <!--        <col class="col4">-->
            </colgroup>
            <tr>
                <th>성명</th>
                <td th:text="${member.getUsername()}"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td th:text="${member.getNick()}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td th:text="${member.getEmail()}"></td>
            </tr>
            <tr>
                <th>권한</th>
                <td th:text="${member.getRole()}"></td>
            </tr>
        </table>
        <button type="button" onclick="location.href='/update'" class="btn btn-dark update--button">수정하기</button>

        <!-- 비밀번호 변경 모달 열기 버튼 -->
        <button type="button" class="btn btn-dark update--button" data-toggle="modal" data-target="#passwordModal">비밀번호
            변경
        </button>

        <!-- 비밀번호 변경 모달 -->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- 모달 헤더 -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModalLabel">비밀번호 변경</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- 모달 본문 -->
                    <div class="modal-body">
                        <form th:action="@{/edit/changePassword}" th:object="${command}" method="post">
                            <div th:if="${#fields.hasErrors('*')}">
                                <p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>
                            </div>
                            <p>
                                <label>
                                    <span th:text="${#messages.msg('currentPassword')}">Current Password:</span><br>
                                    <input type="password" th:field="*{currentPassword}" class="form-control"/>
                                    <div th:if="${#fields.hasErrors('currentPassword')}"
                                         th:each="error : ${#fields.errors('currentPassword')}" th:text="${error}"
                                         class="text-danger"></div>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <span th:text="${#messages.msg('newPassword')}">New Password:</span><br>
                                    <input type="password" th:field="*{newPassword}" class="form-control"/>
                                    <div th:if="${#fields.hasErrors('newPassword')}"
                                         th:each="error : ${#fields.errors('newPassword')}" th:text="${error}"
                                         class="text-danger"></div>
                                </label>
                            </p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <input type="submit" th:value="${#messages.msg('change.btn')}" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </main>
</div>


<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>