<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
<link rel="stylesheet" href="/css/mainPage.css">
<div th:replace="/fragments/header.html :: fragment-header"></div>
<body onLoad="javascript:pop()">
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<!-- 세부 메뉴 + 메인 -->
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">

    <div>
        <img id="slider" src="/images2/main_photo3.jpg" alt="슬라이드 이미지" class="main--page--img">
        <script src="/js/script.js"></script>
        <div class="d-flex justify-content-center align-items-start">
            <div class="main--page--div">
                <div class="d-flex">
                    <!-- 공지사항 -->
                    <div class="main--page--notice">
                        <h3>
                            <a href="/notice">게시판 미리보기</a>
                        </h3>
                        <div class="main--page--split"></div>
                        <table><!--가장 왼쪽에 위치한 공지사항 => 여기는 board 테이블에서 글 제목이랑 글 작성 날짜를 불러와서 게시판 미리보기로 만들기
                        게시판에 카테고리 추가해서 (게시판, 정보) 게시판에는 게시판에 해당하는 글만 가지고 오게 하고, 정보글의 contents는 무조건 링크로 하도록 validation 걸기-->

                            <tr th:if="${#lists.size(list) > 0 }" th:each="list : ${list}">
                                <td><a href="/board/openBoardDetail.do?boardIdx=" th:attrappend="href=${list.boardIdx}"
                                       th:text="${list.title}"></a></td>
                                <td>2024-11-01
                            </tr>

                            <tr>
                                <td><a href="/notice/read?id=5">[일반]&nbsp;2023학년도 1학기 코로나 19 특별휴학 시행 안내</a></td>
                                <td>2024-11-01
                            </tr>

                            <tr>
                                <td><a href="/notice/read?id=4">[일반]&nbsp;2023학년도 장애 인식개선 교육(법정의무교육) 안내</a></td>
                                <td>2024-11-01
                            </tr>

                            <tr>
                                <td><a href="/notice/read?id=3">[일반]&nbsp;Gartner Research(IT 분야 시장분석) 서비스 지원 안내</a>
                                </td>
                                <td>2024-11-01
                            </tr>

                            <tr>
                                <td><a href="/notice/read?id=2">[장학]&nbsp;2023학년도 보건장학회 연구지원장학생 선발 안내</a></td>
                                <td>2024-11-01
                            </tr>

                        </table>
                    </div>
                    <div class="main--page--calander">
                        <!--학사 일정 위치 => 홈페이지 분위기에 맞는 일정을 작성 or 위와 같이 홈페이지에 관한 정보를 적어두기 <href> -->

                        <h3>
                            <a href="/schedule">홈페이지 관련 정보</a>
                        </h3>
                        <div class="main--page--split"></div>
                        <table>

                            <tr>
                                <td>01-27&nbsp;-&nbsp;02-01</td>
                                <td>2023-1학기 예비수강신청</td>
                            </tr>

                            <tr>
                                <td>02-13&nbsp;-&nbsp;02-17</td>
                                <td>2023-1학기 수강신청</td>
                            </tr>

                            <tr>
                                <td>02-17&nbsp;-&nbsp;02-23</td>
                                <td>2023-1학기 등록</td>
                            </tr>

                            <tr>
                                <td>02-22&nbsp;-&nbsp;02-22</td>
                                <td>복학 접수 마감</td>
                            </tr>

                            <tr>
                                <td>02-26&nbsp;-&nbsp;02-26</td>
                                <td>졸업예배</td>
                            </tr>

                            <tr>
                                <td>02-27&nbsp;-&nbsp;02-27</td>
                                <td>학위수여식</td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer.html :: fragment-footer"></div>

</body>
</html>
